<template>
  <div class="home">

    <video-background
      class="video-background"
      :videoSrcWebm="require('@/assets/background.webm')"
      :videoSrcMp4="require('@/assets/background.mp4')">
    </video-background>

    <vue-particles
      class="particles-background"
      color="#EEEEEE"
      :particleOpacity="0.7"
      linesColor="#EEEEEE"
      :particlesNumber="40"
      shapeType="circle"
      :particleSize="2"
      :linesWidth="1"
      :lineLinked="true"
      :lineOpacity="0.4"
      :linesDistance="250"
      :moveSpeed="3"
      :hoverEffect="true"
      hoverMode="grab"
      :clickEffect="true"
      clickMode="push">
    </vue-particles>

    <div class="info-box">
      <img class="logo" src="../assets/logo-512x318.png">
      <h1 class="text"> 1git </h1>
      <h2 class="text"> Coming Soon! </h2>
    </div>

    <sources id="sources-link" />

  </div>

</template>

<script>

import VideoBackground from '@/components/VideoBackground.vue';
import Sources from '@/components/Sources.vue';

export default {
  name: 'coming-soon',
  components: {
    VideoBackground,
    Sources,
  },
};
</script>

<style scoped>

#sources-link {
  position: absolute;
  right: 0;
  top: 0;
  margin: 32px;
}

.text {
  text-align: center;
}

.home {
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.info-box {
  position: absolute;
  width: auto;
  padding: 16px;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 12px;
}

#send-icon {
  margin-left: 8px;
}

.info-box > img {
  width: 300px;
}

h1 {
  margin: 0;
  font-size: 120px;
  color: #FFFFFF;
  margin-top: -32px;
}

h2 {
  color: #EEEEEE;
}

.video-background {
  opacity: 0.3;
}

.particles-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
</style>
