<template>

    <div>
      <v-navigation-drawer v-model="drawer" clipped fixed app>
      <v-list dense>
        <v-list-tile to="/home">
          <v-list-tile-action>
            <v-icon>home</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Home</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile to="/getting-started">
          <v-list-tile-action>
            <v-icon>dashboard</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Getting Started</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
        <v-list-tile to="/documentation">
          <v-list-tile-action>
            <v-icon>settings</v-icon>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title>Documentation</v-list-tile-title>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>

    <v-toolbar app fixed clipped-left class="lighten-4" v-if="['home', 'getting-started'].indexOf($route.name) < 0">
      <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title>1git</v-toolbar-title>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat>Link One</v-btn>
        <v-btn flat>Link Two</v-btn>
        <v-btn flat>Link Three</v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-content>
      <v-icon 
        id="drawer-button"
        class="icon ma-2"
        v-if="['home', 'getting-started'].indexOf($route.name) >= 0"
        v-on:click="drawer = !drawer">menu</v-icon>
      <transition name="fade" mode="out-in">
        <router-view />
      </transition>
    </v-content>

  </div>
</template>

<script>

export default {
  name: 'home',
  data: () => ({
    drawer: false,
  }),
};
</script>

<style scoped>

.icon {
  position: fixed;
  z-index: 1;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  transition: opacity 0.5s ease;
}

.fade-leave {

}

.fade-leave-active {
  transition: opacity 0.5s ease;
  opacity: 0;
}

.header {
  position: absolute;
  display: flex;
  left: 0;
  right: 0;
  padding: 8px 8px 8px 8px;
  background-color: rgba(0.0, 0.0, 0.0, 0.6);
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  height: 72px;
}

.header > .logo {
  height: 100%;
  text-align: center;
}

.header > a {
  font-size: 100%;
  text-decoration: none;
  margin-top: 16px;
  border-bottom: 1px solid transparent;
  color: white;
}

.header > a:hover {
  border-bottom: 1px solid white;
}

.header > .router-link-active {
  font-weight: bold;
  border-bottom: 1px solid white;
}

.home {
  position: fixed;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.content {
  position: absolute;
  width: 100%;
  padding: 16px;
  height: 100%;
  top: 72px;
  left: 0;
  right: 0;
  bottom: 0;
}

.video-background {
  opacity: 0.3;
}

.particles-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
</style>
