<template>
  <iframe id="documentation" src="slate/index.html" />
</template>

<script>
export default {
  name: 'documentation',
};
</script>

<style scoped>

  #documentation {
    position: fixed; 
    border: none;
    width: 100%;
    height: 100%;
  }

</style>
