<template>
  <div>
    <section>
        <v-parallax :src="require('@/assets/dark-galaxy-milky-way.jpg')" height="400">
          <v-layout
            column
            align-center
            justify-center
            class="white--text"
          >
            <img src="../assets/logo-512x318.png" alt="Vuetify.js" height="200">
            <h1 class="white--text mb-2 display-1 text-xs-center">1git CI/CD Tool</h1>
          </v-layout>
        </v-parallax>
      </section>

      <section>
        <v-layout
          column
          wrap
          class="my-5"
          align-center
        >
          <transition name="fade" mode="out-in">
            <v-flex key="repo" xs12 sm4 class="my-3" v-if="step == 'repo'">
              <div class="text-xs-center">
                <h2 class="headline">Create your workspace</h2>
                <span class="subheading">
                  Be aware that changing your workspace name later on is a pain!
                </span>
              </div>
              <v-layout row wrap align-center>
                <div id="workspace-selection" class="input-wrapper">
                  <v-text-field 
                    class="workspace-entry" 
                    placeholder="your-repo" 
                    ref="repo_input"
                    id="repo_input"
                    solo
                    reverse 
                    required
                    v-model="repo_name"
                    :disabled="loading"
                    :rules="[rules.required, rules.repo_minimum_length]" />
                  <span class="url-postfix">.1git.io</span>
                </div>
                <v-layout row wrap justify-center>
                  <v-btn
                    :disabled="loading"
                    large
                    v-on:click="pickRepo()">
                    Next
                    <v-icon id="send-icon">send</v-icon>
                  </v-btn>
                </v-layout>
              </v-layout>
              <v-layout row wrap align-center justify-center>
                <v-progress-circular class="loading-indicator" indeterminate v-bind:class="{ 'loading-hidden': !loading, 'loading-shown': loading }"></v-progress-circular>
              </v-layout>
            </v-flex>
            <v-flex key="username" xs12 sm4 class="my-3" v-if="step == 'username'">
              <div class="text-xs-center">
                <h2 class="headline">Pick a username</h2>
                <span class="subheading">
                  You can change your username later on easily.
                </span>
              </div>
              <v-layout row wrap align-center justify-center >
                <div class="input-wrapper">
                  <v-text-field 
                    placeholder="username" 
                    v-model="user_name"
                    ref="user_input"
                    id="user_input"
                    solo
                    required
                    :disabled="loading"
                    :rules="[rules.required]" />
                </div>
                <v-btn
                  :disabled="loading"
                  large
                  v-on:click="pickUserName()">
                  Next
                  <v-icon id="send-icon">send</v-icon>
                </v-btn>
              </v-layout>
              <v-layout row wrap align-center justify-center>
                <v-progress-circular class="loading-indicator" indeterminate v-bind:class="{ 'loading-hidden': !loading, 'loading-shown': loading }"></v-progress-circular>
              </v-layout>
            </v-flex>
            <v-flex key="email" xs12 sm4 class="my-3" v-if="step == 'email'">
              <div class="text-xs-center">
                <h2 class="headline">Enter your email.</h2>
                <span class="subheading">
                  We use your email only for things like customer support and password resets. We don't send spam.
                </span>
              </div>
              <v-layout row wrap align-center justify-center >
                <div class="input-wrapper">
                  <v-text-field 
                    placeholder="email@provider.com" 
                    v-model="email"
                    solo
                    ref="email_input"
                    id="email_input"
                    required
                    :disabled="loading"
                    :rules="[rules.required, rules.email]" />
                </div>
                <v-btn
                  :disabled="loading"
                  large
                  v-on:click="pickEmail()">
                  Next
                  <v-icon id="send-icon">send</v-icon>
                </v-btn>
              </v-layout>
              <v-layout row wrap align-center justify-center>
                <v-progress-circular class="loading-indicator" indeterminate v-bind:class="{ 'loading-hidden': !loading, 'loading-shown': loading }"></v-progress-circular>
              </v-layout>
            </v-flex>
            <v-flex key="email-confirmation" xs12 sm4 class="my-3" v-if="step == 'email-confirmation'">
              <div class="text-xs-center">
                <h2 class="headline">Confirm your email address</h2>
                <span class="subheading">
                  We just sent you an email. Enter the code contained within it below.
                </span>
              </div>
              <v-layout row wrap align-center justify-center >
                <div class="input-wrapper">
                  <v-text-field 
                    placeholder="email confirmation code" 
                    v-model="email_confirmation_code"
                    solo
                    ref="email_confirmation_input"
                    id="email_confirmation_input"
                    required
                    :disabled="loading"
                    :rules="[rules.required]" />
                </div>
                <v-btn
                  :disabled="loading"
                  large
                  v-on:click="confirmEmail()">
                  Next
                  <v-icon id="send-icon">send</v-icon>
                </v-btn>
              </v-layout>
              <v-layout row wrap align-center justify-center>
                <v-progress-circular class="loading-indicator" indeterminate v-bind:class="{ 'loading-hidden': !loading, 'loading-shown': loading }"></v-progress-circular>
              </v-layout>
            </v-flex>
            <v-flex key="password" xs12 sm4 class="my-3" v-if="step == 'password'">
              <div class="text-xs-center">
                <h2 class="headline">Pick a password</h2>
                <span class="subheading">
                  Consider using a password manager like <a href="https://1password.com/" target="_blank">1Password</a> or <a href="https://www.lastpass.com/" target="_blank">LastPass</a>!
                </span>
              </div>
              <v-layout row wrap align-center justify-center>
                <div class="input-wrapper">
                  <v-text-field 
                    placeholder="password" 
                    solo
                    v-model="password"
                    :type="show_password ? 'text' : 'password'"
                    :rules="[rules.required, rules.password_minimum_length]"
                    hint="At least 8 characters"
                    counter
                    ref="password_input"
                    id="password_input"
                    required
                    :disabled="loading"
                    :append-icon="show_password ? 'visibility_off' : 'visibility'"
                    @click:append="show_password = !show_password" />
                </div>
                <v-btn 
                  :disabled="loading"
                  large
                  v-on:click="finishRegistration()">
                  Next
                  <v-icon id="send-icon">send</v-icon>
                </v-btn>
              </v-layout>
              <v-layout row wrap align-center justify-center>
                <v-progress-circular class="loading-indicator" indeterminate v-bind:class="{ 'loading-hidden': !loading, 'loading-shown': loading }"></v-progress-circular>
              </v-layout>
            </v-flex>
            <v-flex key="finished" xs12 sm4 class="my-3" v-if="step == 'finished'">
              <div class="text-xs-center">
                <h2 class="headline">Workspace created!</h2>
                <span class="subheading">
                  Your registration is complete. You can find instructions for your first push in your workspace!
                </span>
              </div>
              <v-layout my-4 row wrap align-center justify-center>
                <v-btn large :href="`https://${this.repo_name}.1git.io`">
                  Go to Workspace
                  <v-icon id="send-icon">send</v-icon>
                </v-btn>
              </v-layout>
            </v-flex>
          </transition>
        </v-layout>
      </section>

      <section>
        <v-parallax :src="require('@/assets/dark-galaxy-milky-way.jpg')" height="600" />
      </section>
  </div>

</template>

<script>
  import { mapState } from 'vuex'

  export default {
    name: 'getting-started',
    data () {
      return {
        show_password: false,
        repo_name: '',
        user_name: '',
        email: '',
        email_confirmation_code: '',
        password: '',
        rules: {
          required: value => !!value || 'This field is required.',
          password_minimum_length: v => v.length >= 8 || 'Has to be at least 8 characters.',
          repo_minimum_length: v => v.length >= 3 || 'Has to be at least 3 characters.',
          email: value => {
            const pattern = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
            return pattern.test(value) || 'Invalid e-mail.'
          },
        },
      };
    },
    computed: mapState({
      step: state => state.registration.step,
      loading: state => state.registration.loading,
    }),
    methods: {
      pickRepo() {
        if(this.$refs.repo_input.validate(true)) {
          this.$store.dispatch('pickRepoName', this.repo_name)
        }
      },
      pickUserName() {
        if(this.$refs.user_input.validate(true)) {
          this.$store.dispatch('pickUserName', this.user_name)
        }
      },
      pickEmail() {
        if(this.$refs.email_input.validate(true)) {
          this.$store.dispatch('pickEmail', this.email)
        }
      },
      confirmEmail() {
        if(this.$refs.email_confirmation_input.validate(true)) {
          this.$store.dispatch('confirmEmail', this.email_confirmation_code)
        }
      },
      finishRegistration() {
        if(this.$refs.password_input.validate(true)) {
          this.$store.dispatch('finishRegistration', this.password)
        }
      },
    },
  };
</script>

<style scoped>

  .loading-hidden {
    opacity: 0;
  }

  .loading-shown {
    opacity: 1;
  }

  .loading-indicator {
    transition: opacity 0.25s ease-in;
  }

  .fade-enter {
    opacity: 0;
  }

  .fade-enter-active {
    transition: opacity 0.5s ease;
  }

  .fade-leave {

  }

  .fade-leave-active {
    transition: opacity 0.5s ease;
    opacity: 0;
  }

  .url-postfix {
    width: 30%;
    float: left;
  }

  .workspace-entry {
    width: 70%;
    float: left;
  }

  .input-wrapper {
    padding: 32px 0% 0px 0%;
    width: 280px;
  }

  #workspace-selection {
    overflow: hidden;
    width: 280px;
    margin: 0 auto;
  }

  #workspace-selection > span {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: left;
    font-size: 140%;
    padding-left: 8px;
  }

  .registration {
    color: white;
  }

  #send-icon {
    margin-left: 8px;
  }
</style>
