<template>
    <a href="https://gitlab.com/1git/1git" target="_blank">
      <div class="sources">
        <span id="text">Find the source code on</span>
        <img id="gitlab-logo" src="../assets/gitlab-logo.png">
        <span id="text">GitLab</span>
      </div>
    </a>
</template>

<script>
export default {
  name: 'sources',
};
</script>

<style scoped>

a {
  color: white;
  text-decoration: none;
}

#text {
  border-bottom: 1px solid transparent;
}

a:hover > div > #text {
  border-bottom: 1px solid white;
}

.sources {
  display: flex;
  align-items: center;
  justify-content: center;
}

#gitlab-logo {
  height: 32px;
  margin: 0px 8px;
}

</style>
