<template>
  <div>
    <video playsinline autoplay muted loop class="background-video">
      <source :src="videoSrcWebm" type="video/webm">
      <source :src="videoSrcMp4" type="video/mp4">
    </video>
  </div>
</template>

<script>
export default {
  props: {
    videoSrcWebm: {
      default: '',
      type: String,
    },
    videoSrcMp4: {
      default: '',
      type: String,
    },
  },
};
</script>

<style lang="css" scoped>
  .background-video {
      position: absolute;
      top: 50%;
      left: 0%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -100;
      transform: translateX(0%) translateY(-50%);
      background-size: cover;
  }
</style>
